body {
  background-image: url("../images/pokeball-bg.png"); /*with lower opacity*/
}
.logo {
  width: 200px;
  display: block;
  margin: 0 auto;
}
#level {
  display: flex;
  justify-content: space-around;
}
#learnMore, #submit {
  color:white;
  background-color:green;
  border-radius:10px;
  text-align:center;
  width:150px;
  height:40px;
  font-family: 'Fredoka One', sans-serif;
  letter-spacing:2px;
}
#showPokemon {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  border:10px solid black;
  margin:10px auto;
  width:60%;
  font-weight:bolder;
  font-size:34px;
  padding:20px;
  display:none;
}
h1 {
  background-color:	#FFD700;
  border:10px solid #0000CD;
  font-family:'Monoton', cursive;
  text-align:center;
  padding:10px 0;
}
.levels {
  color:white;
  background-color:red;
  border-radius:10px;
  text-align:center;
  width:100px;
  height:40px;
  font-family: 'Fredoka One', sans-serif;
  letter-spacing:2px;
}
#main, #starting {
  background-color: white;
  margin:20px 50px;
  padding:20px 0;
  border-radius:30px;
  height:auto;
}
#main {
  display:none;
}
div,p {
  margin-bottom: 1rem;
  text-align:center;
  font-family: 'Fredoka One', sans-serif;
    }
.pokemon-name {
  text-transform: capitalize;
  font-weight: bold;
}
.pokemon-image, .image, .image-2 {
  display: block;
  width:150px;
  margin:0 auto;
}
#score {
  color:red;
}
/*for congrats animation when correct answer is entered*/
@keyframes blink {
    0%{     color: green;    }
    25%{    color: blue; }
    50%{    color: yellow; }
    75%{    color: red;  }
    100%{   color: green;    }
}
#result {
  font-weight:bold;
  font-size:24px;
}
/* removes up down buttons for number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
#pikachu {
	position: absolute;
	top:60px;
	left: 10%;
	margin-left: -25px;
  height:50px;
  width:45px;
}
#bulbasaur {
	position: absolute;
	top:60px;
	left: 30%;
	margin-left: -50px;
  height:50px;
  width:45px;
}
#charmander {
	position: absolute;
	top:60px;
	left: 75%;
	margin-left: -75px;
  height:50px;
  width: 45px;
}
#squirtle {
	position: absolute;
	top:60px;
	left: 95%;
	margin-left: -75px;
  height:50px;
  width: 45px;
}
@media only screen and (max-width: 768px) {
  .logo {
  width: 150px;
  }
  #showPokemon {
    width:90%;
    font-weight:normal;
  }
  #bouncy {
    display:none; /*hides animation on small screen */
  }
}